<body>
<div class="container mt-5">
    <h1>Depósito</h1>
    <div class="input-group mb-3 ">
        <span style="border: none; border: solid 2px #0d009c; border-radius: 10px" class="input-group-text" id="basic-addon2">@</span>
        <input style="border: none; border: solid 2px #0d009c; border-radius: 10px" type="text" id="cpf" class="form-control" placeholder="Digite o seu cpf" aria-label="cpf" aria-describedby="basic-addon1">
    </div>
    <div class="input-group mb-3 ">
        <span style="border: none; border: solid 2px #0d009c; border-radius: 10px" class="input-group-text" id="basic-addon">Senha</span>
        <input style="border: none; border: solid 2px #0d009c; border-radius: 10px" type="number" id="senha" class="form-control" placeholder="Digite sua senha" aria-label="cpf" aria-describedby="basic-addon1">
    </div>
    <div class="input-group mb-3 ">
        <span style="border: none; border: solid 2px #0d009c; border-radius: 10px" class="input-group-text" id="basic-addon1">$</span>
        <input style="border: none; border: solid 2px #0d009c; border-radius: 10px" type="number" id="valorDeposito" class="form-control" placeholder="Valor a ser depositado" aria-label="deposito" aria-describedby="basic-addon1">
    </div>
    <button type="submit" id="enviar" class="btn btn-success text-center">Depositar</button>
</div>
</body>
